body {
    margin: 0;
    margin-top: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgb(238, 211, 123);
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 9px;
}

header li {
    margin-left: 50px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}


#hero h1 {
    font-size: 50px;
}

section h2 {
    font-size:40px;
}

section h3 {
    font-size:25px;
    font-weight: 100;

}

header a {
    text-decoration: none;
    color: black;
}


#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://images.squarespace-cdn.com/content/v1/5ba162cd89c1721789b9b82b/1641918178527-8IJOB47V6KV8Y075VPAL/Self_Portait_%232.jpg?format=1500w');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://images.squarespace-cdn.com/content/v1/5ba162cd89c1721789b9b82b/1625062027770-THB6LEFA00O9WR87A9H1/Heroic+Dose.jpg?format=1500w');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://images.squarespace-cdn.com/content/v1/5ba162cd89c1721789b9b82b/1623965113711-C2EN0X9G4NKOONT1TPWQ/Tin_Mans_Trip_36_x_36.jpg');
}

footer {
    text-align: center;
    padding: 50px;
}